.triplay-game-list {
    margin-top: 100px;
    .heading-game {
        text-align: center; 
        margin-bottom: 50px;
        h3 {
            font-size: 48px;
            line-height: 1.3;
            font-family: $second-font-family;
            font-weight: 900;
            span {
                color: $color-primary-blue;
            }
        }
        p {
            font-size: 20px;
            font-family: $font-family;
            white-space: pre-line;
        }
    }
    .game-list__wrapper {
        padding: 0 80px;
        .card-game {
            margin-bottom: 70px;
            position: relative;
            img {
                min-width: 100%;
                max-width: 325px;
                max-height: 262px;
                transition: .5s;
                border-radius: 30px 30px 0 0;
            }
            .button-shop {
                position: absolute;
                top: 50%; right: 50%;
                transform: translate(50%,-50%);
                padding: 10px 40px;
                background-color: $button-color;
                text-decoration: none;
                color: $color-primary-white;
                font-family: $second-font-family;
                font-weight: 700;
                border-radius: 20px;
                display: none;
            }
            .game-name {
                height: 60px;
                background-color: $color-primary-black;
                color: $color-primary-white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 0 30px 30px;
                transition: .5s;
                h2 {
                    font-size: 20px;
                    font-family: $second-font-family;
                    line-height: 1.3;
                    font-weight: 700;
                }
            }
            &:hover .button-shop {
                display: block;
            }
            &:hover > img {
                webkit-filter: blur(2px);
                filter: blur(2px);
            }
        }
       
    }
}

@include media-breakpoint-down(sm) { 
        .triplay-game-list {
            margin-top: 50px;
            .heading-game {

                h3 {
                    font-size: 30px;
                }
                p {
                    font-size: 15px;
                }
            }
            .game-list__wrapper {
                padding: 0;
                .card-game {
                    margin-bottom: 20px;
                    img {
                        max-width: 100%;
                        border-radius: 5px 5px 0 0;
                        max-height: 80px;
                    }
                    .game-name {
                        border-radius: 0 0 10px 10px;
                        height: 30px;
                        h2 {
                            font-size: 10px;
                            line-height: 1.1;
                            padding-top: 5px;
                        }
                    }
                    .button-shop {
                        padding: 3px 10px;
                        font-size: 12px;
                        border-radius: 5px;
                        transform: translate(50% , -100%);
                    }
                }
            }
        }
    }

    @include media-breakpoint-between(md , xl) {
        .triplay-game-list {
            margin-top: 50px;
            .heading-game {

                h3 {
                    font-size: 40px;
                }
                p {
                    font-size: 25px;
                }
            }
            .game-list__wrapper {
                padding: 0;
                .card-game {
                    margin-bottom: 20px;
                    img {
                        max-width: 100%;
                        border-radius: 5px 5px 0 0;
                        max-height: 220px;
                    }
                    .game-name {
                        border-radius: 0 0 10px 10px;
                        height: 60px;
                        h2 {
                            font-size: 20px;
                            line-height: 1.1;
                            padding-top: 5px;
                        }
                    }
                    .button-shop {
                        padding: 3px 10px;
                        font-size: 20px;
                        border-radius: 5px;
                        transform: translate(50% , -100%);
                    }
                }
            }
        }
    }