.main-hero {
    height: 850px;
    background-color: $body-bg;
    margin-top: -98px;
    background-repeat: no-repeat, no-repeat;
    background-position: right 280px bottom 50px, right top;
    background-size: 450px, 700px;
    position: relative;
    .hero-detail {
        position: absolute;
        bottom: 180px;
        margin-left: 30px;
        h3 {
            font-size: 56px;
            font-family: $second-font-family;
            font-weight: 700;
            span {
                
                color: $color-primary-blue;
            }
        }
        p {
            font-size: 20px;
            white-space: pre-line;
            line-height: 1.5;
            margin: 30px 0;
            font-family: $font-family;
        }
    }
    .hero-button {
        display: flex;
        .button-left {
            font-size: 25px;
            padding: 10px 20px;
            color: $color-primary-white;
            background-color: $color-primary-black;
            margin-right: 30px;
            border-radius: 60px;
            font-weight: 700;
            border: 1px solid $color-primary-black;
            box-shadow: 0 5px 20px -7px $color-primary-black;
            transition: 0.3s;
            font-family: $second-font-family;
            &:hover {
                background-color: $color-primary-blue;
                box-shadow: 0 20px 20px -7px $color-primary-blue;
            }
        }
        .button-right {
            font-size: 25px;
            padding: 10px 20px;
            color: $color-primary-black;
            background-color: transparent;
            margin-right: 30px;
            border-radius: 60px;
            border: 1px solid $color-primary-black;
            font-weight: 700;
            box-shadow: 0 5px 20px -7px $color-primary-black;
            transition: 0.3s;
            font-family: $second-font-family;
            &:hover {
                background-color: $color-primary-blue;
                color: $color-primary-white;
                box-shadow: 0 20px 20px -7px $color-primary-blue;
            }
        }
    }
    .hero-mobile {
        display: none;
    }
}

// Brealpoint with max width

@include media-breakpoint-down(sm) { 
    .main-hero {
        background-image: none !important;
        height: 750px;
        .hero-detail {
            bottom: unset;
            top: 200px;
            h3 {
                font-size: 30px;
                font-weight: 900;
            }
            p {
                font-size: 15px;
            }
        }
        .hero-button {

            .button-left {
                font-size: 15px;
                padding: 10px 10px;
                height: 40px;
                letter-spacing: 2px;
                line-height: 1;
                margin-right: 20px;
            }
            .button-right {
                font-size: 15px;
                padding: 10px 10px;
                height: 39px;
                box-shadow: 0 5px 15px -7px $color-primary-black;
                line-height: 1;
                letter-spacing: 1px;
                border: 2px solid $color-primary-black;    
                font-weight: 700; 
            }
        }
        .hero-mobile {
            position: absolute;
            display: block;
            bottom: 0;
            background-repeat: no-repeat;
            background-position: bottom 0 left 0;
            img {
                margin: 0 auto;
                position: relative;
                left: 50px;
                bottom: -30px;
                width: 75%;
            }
        }
    }
}

@include media-breakpoint-between(md , xl) { 
    .main-hero {
        background-image: none !important;
        height: 750px;
        .hero-detail {
            bottom: unset;
            top: 200px;
            width: 90%;
            margin-left: 1%;
            text-align: center;
            h3 {
                font-size: 40px;
                font-weight: 900;
            }
            p {
                font-size: 25px;
            }
        }
        .hero-button {
            width: 100%;
            justify-content: center;
            .button-left {
                font-size: 20px;
                padding: 10px 10px;
                height: 60px;
                letter-spacing: 2px;
                line-height: 1;
                margin-right: 20px;
            }
            .button-right {
                font-size: 20px;
                padding: 10px 10px;
                height: 60px;
                box-shadow: 0 5px 15px -7px $color-primary-black;
                line-height: 1;
                letter-spacing: 1px;
                border: 2px solid $color-primary-black;    
                font-weight: 700; 
            }
        }
        .hero-mobile {
            position: absolute;
            display: block;
            bottom: 0;
            background-repeat: no-repeat;
            background-position: bottom 0 left 0;
            img {
                margin: 0 auto;
                position: relative;
                left: 50px;
                bottom: -30px;
                width: 75%;
            }
        }
    }
}
