.triplay-tutorial {
    margin-top: 50px;
    .heading-tutorial {
        text-align: center;
        margin-bottom: 50px;
        h3 {
            font-size: 48px;
            line-height: 1.3;
            font-family: $second-font-family;
            font-weight: 900;
            span {
                color: $color-primary-blue;
            }
        }
        p {
            font-size: 20px;
            font-family: $font-family; 
            white-space: pre-line;
        }
    }
    .video-wrapper {
        display: flex;
        flex-direction: row;
        padding: 0 55px;
        .embed-video-wrapper {
            margin: 0 auto;
            iframe {
                border-radius: 30px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .triplay-tutorial {
        margin-top: 30px; 
            .heading-tutorial {

                h3 {
                    font-size: 30px;
                }
                p {
                    font-size: 15px;
                }
            }
            .video-wrapper {
                padding: 0;
                .embed-video-wrapper {
                    padding: 0 5px;
                    iframe {
                        border-radius: 10px;
                        max-width: 100%;
                        max-height: 100px;
                    }
                }
            }
        }
    }