footer.triplay-footer {
    background-color: $color-primary-black;
    margin-top: 100px;
    .triplay-company {
        display: flex;
        flex-direction: row;
        padding: 0 60px;
        padding-top: 62px;
        .column-company {
            margin-right: 200px;
            h4 {
                color: $color-primary-white;
                font-size: 48px;
                font-family: $second-font-family;
                font-weight: 700;
            }
            ul {
                display: flex;
                flex-direction: column;
                li {
                    list-style: none;
                    color: $color-primary-white;
                    margin-left: -28px;
                    a {
                        text-decoration: none;
                        color: $color-primary-white;
                        font-family: $font-family;
                        font-size: 20px;
                        &:hover {
                            color: $secondary-blue;
                        }
                    }
                }
            }
        }
      
    }
    .triplay-contact {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 80px;
        .contact-detail {
            
            h4 {
                font-size: 48px;
                color: $color-primary-white;
                font-family: $font-family;
                font-weight: 700;
                line-height: 1.3;
                span {
                    color: $color-primary-blue;
                }
            }
            p {
                color: $color-primary-white;
                font-family: $second-font-family;
                font-size: 20px;
            }
            .sosicon-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                a {
                    &:hover {
                        margin-bottom: 5px;
                    }
                }
                .sosicon {
                    margin: 10px;
                }
            }
        }
        .contact-detail.right {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .footer-line {
        opacity: 1 !important;
        color: $color-primary-white;
        width: 89%;
        margin: 0 auto;
    }
    .credit-footer {
        padding: 0 70px;
        margin-top: 20px;
        padding-bottom: 50px;
        p {
            color: $color-primary-white;
            font-size: 20px;
            line-height: 1.5;
            font-family: $font-family;
        }
    }
}