.triplay-second-header {
    height: 98px;
    position: relative;
    z-index: 99;
    background-color: $color-primary-black; 
    .black-hamburger {
        display: none;
    }
    .triplay-navbar__home {
        display: flex;
        flex-direction: row;
        list-style: none;
        position: relative;
        .list-nav {
            margin: 36px 100px 0 0;
            font-size: 20px;
            line-height: 1.1;
            font-weight: 700;
            letter-spacing: 1;
            font-family: $font-family;
            z-index: 100;
            .white-arrow {
                margin-left: 10px;
                transform: rotate(-90deg);
            }
            &:hover + .dropdown-nav {
                display: block;
            }
            &:hover .white-arrow {
                transform: rotate(0deg);
            }
            span {
                display: none;
            }
        }
        .dropdown-nav {
            position: absolute;
            top: 50px;
            left: 150px;
            list-style: none;
            text-align: center;
            display: none;
            background-color: $color-primary-black;
            .list-dropdown {
                margin: 30px 0;
                font-size: 20px;
                line-height: 1.1;
                padding-right: 30px;
            }
            &:hover {
                display: block;
            }
        }
        .dropdown-second {
            position: absolute;
            top: 50px;
            left: 360px;
            list-style: none;
            text-align: center;
            display: none;
        }
         a {

             text-decoration: none;
             color: $color-primary-white;
         }
    }
    .main-logo {
        position: absolute;
        right: 200px;
        top: 15px;
    }
}


@include media-breakpoint-down(sm) { 
    .triplay-second-header {
        height: 65px !important;
        background-color: $color-primary-black;
        .second-nav {
            display: none;
             .container.clearfix {
                 padding: 0 !important;
             }
        }
    }
    .black-hamburger {
        display: block !important;
        position: absolute;
        left: 30px;
        top: 20px;
    }
    .triplay-navbar__home {
        flex-direction: column !important;
        top: 65px;
        padding-bottom: 40px;
        background-color: $color-primary-black;
        a {
            color: $color-primary-white !important;
            font-size: 15px !important;
        }
        .list-nav {
            margin: 10px;
            font-size: 15px;
            span {
                display: contents !important;
                margin-left: 10px;
            }
        }
        .dropdown-nav {
            position: unset !important;
            text-align: unset !important;
            margin: 20px 0;
        }
    }
    .main-logo {
        max-width: 150px;
        right: 10px !important;
    }
  
 }